/*button{
    padding: 20px;
    background-color: transparent;
    color: antiquewhite;
    border: solid #252525;
    color: #252525;
    border-radius: 10px;
}

.container{
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    width: 300px;
    flex-wrap: wrap;
    height: 600px;
 text-align: center;
    align-content: center;
}*/